.button {
  display: block;
  text-decoration: none;
  text-align: center;
  background-color: $green;
  padding-top: 14px;
  padding-bottom: 14px;
  font-size: 16px;
  color: $white;
  text-transform: uppercase;

  &:hover {
    background-color: $dark-green;
  }

  &:active {
    background-color: $dark-green;
    color: rgba(255, 255, 255, 0.3);
  }
}

.button--grey {
  background-color: $grey;
  color: $greyish;

  &:hover {
    background-color: $light-grey;
  }

  &:active {
    background-color: $light-grey;
    color: #d2d2d2;
  }
}
