.how-works {
  box-sizing: border-box;

  @include main-font;
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 30px;

  @media (min-width: $tablet-width) {
    min-width: 708px;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    min-width: 1220px;
    padding-top: 50px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 0;
  }
}

.how-works__list {
  margin: 0;
  margin-top: 30px;

  @include list;
  counter-reset: section;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    padding-top: 40px;
    width: 710px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    justify-content: space-between;
  }
}


.how-works__item {
  display: flex;
  align-items: center;
  position: relative;
  min-height: 60px;
  margin-bottom: 20px;

  @include content-font;
  margin-left: 60px;
  padding-left: 20px;

  &::before {
    content: "";
    position: absolute;
    left: -60px;
    background-color: $green;
  }

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-bottom: 90px;
    margin-right: 140px;
    padding: 0;
    //width: 40%;
    width: 250px;
    min-height: 230px;

    &:nth-child(even) {
      margin-right: 0;
    }

    &:nth-child(n+3) {
      margin-bottom: 0;
    }

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      background-color: $green;
    }

    &::after {
      counter-increment: section;
      content: counter(section) "";
      position: absolute;
      top: -80px;
      left: 110px;

      @include main-font;
      color: $grey;
      font-size: 281px;
      z-index: -1;
    }
  }

  @media (min-width: $desktop-width) {
    flex-basis: 245px;
    flex-shrink: 10;
    margin-right: 0;
    margin-bottom: 30px;

    &:last-child {
      margin-right: 0;
    }

    &:nth-child(n+3) {
      margin-bottom: 30px;
    }
  }
}

.how-works__item--healthy {
  &::before {
    content: "";
    width: 60px;
    height: 60px;
    background-image: url("../img/advantage-leaf@1x.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  @media (min-width: $tablet-width) {
    &::before {
      width: 80px;
      height: 80px;
    }
  }
}

.how-works__item--form {
  &::before {
    content: "";
    width: 60px;
    height: 60px;
    background-image: url("../img/advantage-powder@1x.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  @media (min-width: $tablet-width) {
    &::before {
      width: 80px;
      height: 80px;
    }
  }
}

.how-works__item--eat {
  &::before {
    content: "";
    width: 60px;
    height: 60px;
    background-image: url("../img/advantage-dining@1x.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  @media (min-width: $tablet-width) {
    &::before {
      width: 80px;
      height: 80px;
    }
  }
}

.how-works__item--result {
  &::before {
    content: "";
    width: 60px;
    height: 60px;
    background-image: url("../img/advantage-clock@1x.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  @media (min-width: $tablet-width) {
    &::before {
      width: 80px;
      height: 80px;
    }
  }
}

.how-works__description {
  width: 100%;
  margin: 0;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-top: 55px;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    line-height: 1.5;
  }
}

.how-works__description--text-design {
  @media (min-width: $tablet-width) {
    white-space: pre-wrap;
  }
}
