.living-example {
  background-color: $grey;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 38px;

  @media (min-width: $tablet-width) {
    padding: 0;
    padding-top: 40px;
    background-color: $white;
    border-top: 1px solid #e6e6e6;
  }

  @media (min-width: $desktop-width) {
    border: 0;
  }
}

.living-example__wrapper {
  width: 100%;
  position: relative;

  @media (min-width: $tablet-width) {
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      min-height: 455px;
      width: 50%;
      background-color: #eaeaea;
    }
  }

  @media (min-width: $desktop-width) {
    box-sizing: border-box;
    display: flex;
    //justify-content: space-between;
    margin-top: 75px;
    padding-right: 40px;
    padding-left: 40px;
    background-color: $grey;

    &::after {
      width: 325px;
    }
  }
}

.living-example__description {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: $desktop-width) {
    max-width: 570px;
    box-sizing: border-box;
    padding-left: 0;
    padding-right: 0;
    background-color: $grey;
  }
}

.living-example__act {
  margin-bottom: 5px;
  padding-top: 20px;
  padding-bottom: 20px;

  @include content-font;
  white-space: pre-wrap;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    white-space: normal;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    width: 435px;
  }
}

.living-example__total-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 45px;
  }
}

.living-example__total {
  display: flex;
  justify-content: center;

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: flex-start;
  }
}

.living-example__total-stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 37px;
  position: relative;
  max-width: 162px;
  min-width: 124px;
  min-height: 56px;
  border: solid 1px #cdcdcd;
  border-radius: 3px;

  &:last-child {
    margin-right: 0;
  }

  @media (min-width: $tablet-width) {
    height: 70px;
  }
}

.living-example__stats-result {
  font-size: 24px;
  color: $dark-grey;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 160px;
    font-size: 30px;
  }
}

.living-example__stats-type {
  max-width: 57px;
  position: absolute;
  bottom: -20px;
  padding-left: 15px;
  padding-right: 15px;
  display: inline-block;
  text-align: center;
  vertical-align: baseline;
  background-color: $grey;

  @include content-font;
  font-size: 12px;

  @media (min-width: $tablet-width) {
    max-width: 125px;
    bottom: -10px;
    background-color: $white;
  }

  @media (min-width: $desktop-width) {
    background-color: $grey;
  }
}

.living-example__cost {
  width: 100%;
  margin-top: 35px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 175px;

    margin-top: 20px;
    text-align: right;
    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
    width: 330px;
    margin-top: 55px;
  }
}

.living-example__cost-description {
  @media (min-width: $tablet-width) {
    display: inline-block;
    vertical-align: baseline;
    margin-bottom: 10px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.living-example__cat-choose {
  position: relative;

  @media (min-width: $tablet-width) {

    min-height: 340px;
    margin-top: 245px;
    padding-bottom: 60px;
    background-color: $grey;
  }

  @media (min-width: $desktop-width) {
    width: 650px; //временно
    margin-top: 0;
    margin-left: auto;
  }
}

.living-example__cat-choose-wrapper {
  position: relative;
  min-height: 251px;
  z-index: 1;

  display: flex;
}

.living-example__cat-wrapper {
  position: relative;
  width: 280px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $tablet-width) {
    width: 700px;
  }

  @media (min-width: $desktop-width) {
    max-width: 610px;
    margin-left: 0;
    margin-right: 0;
  }
}

.living-example__img-before {
  position: absolute;
  top: 20px;
  left: -20px;

  @media (min-width: $tablet-width) {
    top: -170px;
    left: 20px;

    clip: rect(auto, 340px, auto, auto);
  }

  @media (min-width: $desktop-width) {
    top: -190px;
    left: 0;
    clip: rect(auto, 365px, auto, auto);
  }
}

.living-example__img-after {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;

  @media (min-width: $tablet-width) {
    top: -170px;
    left: 20px;
    opacity: 1;
    clip: rect(auto, auto, auto, 340px);
  }

  @media (min-width: $desktop-width) {
    top: -190px;
    left: 0;
    clip: rect(auto, auto, auto, 365px);
  }
}

.living-example__before-after {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 45px;

  @media (min-width: $tablet-width) {
    margin-top: 115px;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
    margin-left: 80px;
  }
}

.living-example__show-result {
  font-size: 16px;
  color: $dark-grey;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    border-bottom: 1px dotted #bebebe;
    padding-bottom: 5px;
    z-index: 100;
  }
}

.living-example__scale {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: 84px;
  height: 14px;
  margin-left: 19px;
  margin-right: 19px;
  padding-left: 5px;
  background-color: $white;
  border-radius: 6px;
  border: solid 1px #cdcdcd;
  z-index: 1;

  @media (min-width: $tablet-width) {
    justify-content: center;
    width: 430px;
    height: 5px;
    background-color: #dcdcdc;
    border: 0;
  }
}

.living-example__scale-bar {
  width: 35px;
  height: 6px;
  border: 0;
  border-radius: 3px;
  background-color: $green;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    position: relative;
    width: 35px;
    height: 35px;
    border: 1px solid #cdcdcd;
    border-radius: 50%;
    background-color: $white;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.15);

    &::before {
      content: "";
      position: absolute;
      top: 13px;
      left: 13px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: $green;
    }
  }
}
