.other-product {
  position: relative;
  padding-bottom: 35px;

  &::before {
    content: "";
    position: absolute;
    top: 15px;
    width: 100%;
    z-index: -1;
    height: 3px;
    background-color: $green;
  }

  @media (min-width: $tablet-width) {
    padding-bottom: 70px;

    &::before {
      top: 20px;
    }
  }
}

.other-product__wrapper {
  @media (min-width: $tablet-width) {
    margin-top: 70px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    margin-top: 75px;
  }
}

.other-product__title-wrapper {
  position: relative;
}


.other-product__title {
  display: inline-block;
  vertical-align: baseline;
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  font-size: 24px;
  font-weight: 400;
  color: $dark-grey;
  background-color: $white;

  @media (min-width: $tablet-width) {
    margin-left: 30px;
    padding-left: 35px;
    padding-right: 35px;
    font-size: 36px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
    padding-left: 40px;
    padding-right: 40px;
  }
}

.other-product__list {
  list-style: none;
  margin-top: 35px;
  padding: 0;
  padding-left: 20px;
  padding-right: 20px;


  @media (min-width: $tablet-width) {
    box-sizing: border-box;
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
    padding-left: 40px;
    padding-right: 0;
  }
}

.other-product__item {
  box-sizing: border-box;
  padding-bottom: 20px;
  border-bottom: 1px solid #cdcdcd;

  @media (min-width: $tablet-width) {
    min-width: 708px;
    padding-top: 26px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 25px;

    border: 1px solid #cdcdcd;
    border-bottom: 0;

    &:last-child {
      border-bottom: 1px solid #cdcdcd;
    }
  }

  @media (min-width: $desktop-width) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 890px;
    padding: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-bottom: 1px solid #cdcdcd;

    &:first-child {
      border-top: 1px solid #cdcdcd;
    }
  }
}

.other-product__item-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    margin-right: 40px;
    width: 615px;
  }
}

.other-product__item--first {
  @media (max-width: $mobile-width) {
    border-top: 1px solid #cdcdcd;
  }
}

.other-product__item-title {
  margin-bottom: 5px;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 400;
  color: $dark-grey;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin: 0;
    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    line-height: 32px;
  }
}

.other-product__features {
  width: 100%;
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    max-width: 400px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    margin-top: 5px;
  }
}

.other-product__features-set {
  @include content-font;

  @media (min-width: $tablet-width) {
    font-size: 16px;
  }
}

.other-product__features-property {
  text-align: left;

  @media (min-width: $tablet-width) {
    text-align: right;
    padding-right: 40px;
  }

  @media (min-width: $desktop-width) {
    min-width: 240px;
    text-align: left;
    padding-right: 0;
  }
}

.other-product__features-value {
  text-align: right;
}

.other-product__bonus {
  display: flex;
  flex-direction: column;

  margin-top: 40px;
  margin-left: 20px;
  margin-right: 20px;

  align-items: center;
  min-width: 280px;
  min-height: 289px;
  background-color: $green;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  @media (min-resolution: $retina-dppx) {
    background-image: url("../img/gift-photo-mobile@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    box-sizing: border-box;
    flex-direction: row;
    justify-content: space-between;

    min-width: 708px;
    min-height: 200px;
    margin-top: 75px;
    margin-left: 30px;
    margin-right: 30px;
    background-image: url("../img/gift-photo-tablet@1x.jpg");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/gift-photo-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    min-width: 245px;
    height: 290px;
    margin: 0;
    margin-right: 40px;
    background-image: url("../img/gift-photo-desktop@1x.jpg");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/gift-photo-desktop@2x.jpg");
    }
  }
}

.other-product__gift {
  margin-top: 65px;
  width: 56px;
  height: 61px;
  fill: #ffffff;

  @media (min-width: $tablet-width) {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 90px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 65px;
    margin-left: auto;
    margin-right: auto;
  }
}

.other-product__bonus-description {
  width: 165px;
  margin-top: 65px;

  @include content-font;
  text-align: center;
  font-size: 16px;
  color: $white;
  white-space: pre-wrap;

  @media (min-width: $tablet-width) {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 125px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 45px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
}

.other-product__button {
  @media (min-width: $desktop-width) {
    width: 245px;
  }
}
