.page-footer {
  padding-left: 20px;
  padding-right: 20px;

  @include main-font;
  background-color: $grey;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    justify-content: space-between;

    min-height: 150px;
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 110px;
    padding-right: 110px;
  }
}

.page-footer__logo {
  display: flex;
  justify-content: center;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-footer__logo-image {
  margin-top: 39px;
  margin-bottom: 31px;
}

.page-footer__social {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 70px;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    border: 0;
  }
}

.page-footer__copyright {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}
