.page-header {
  display: flex;
  flex-direction: column;
  position: relative;

  @include main-font;
  padding-top: 11px;

  @media (min-width: $tablet-width) {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    padding-top: 55px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

.page-header--inner {
  border-bottom: 1px solid #e6e6e6;

  @media (min-width: $tablet-width) {
    border: 0;
  }
}

.page-header__wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.page-header__logo {
  padding-left: 20px;
  padding-right: 20px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}
