.program {
  @include main-font;
  padding-bottom: 30px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    padding-bottom: 65px;
  }
}

.program__wrapper {
  @media (min-width: $desktop-width) {
    //box-sizing: border-box;
    display: flex;
    justify-content: space-between;
  }
}

.program__title {
  width: 230px;
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 14px;
  font-weight: 400;
  color: $dark-grey;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 325px;
    margin-top: -5px;
    padding-left: 70px;
    font-size: 20px;
    line-height: 28px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 40px;
  }
}


.program__block-wrapper {
  position: relative;
  padding-top: 10px;

  &::before {
    content: "";
    position: absolute;
    top: 25px;
    width: 100%;
    z-index: -1;
    height: 3px;
    background-color: $green;
  }

  @media (min-width: $tablet-width) {
    margin-top: 55px;

    &::before {
      top: 35px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-top: 20px;
  }
}

.program__userdate-list {
  list-style: none;
  margin-top: 40px;

  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 5px;

  @media (min-width: $tablet-width) {
    margin-top: 70px;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin-top: 52px;
    padding-left: 40px;
    padding-right: 40px;
    flex-grow: 1;
  }
}

.program__userdate-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    min-width: 630px;
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    min-width: 570px;
  }
}

.program__label {
  padding: 0;
  margin-right: 15px;
  flex-shrink: 0;
  font-size: 16px;
  color: #222222;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }
}

.program__input-text {
  width: 100%;
  height: 45px;
  padding: 0;
  padding-left: 16px;
  color: $greyish;
  text-transform: uppercase;
  border: 1px solid #e6e6e6;

  &::placeholder {
    color: $greyish;
    text-transform: uppercase;
  }

  &:hover {
    border: 1px solid #cdcdcd;
  }

  &:active {
    border: 1px solid $greyish;
  }

  &:focus {
    border: 1px solid $greyish;
  }

  @media (min-width: $tablet-width) {
    padding-left: 20px;
    height: 50px;
    font-size: 20px;
  }
}

.program__choose-result-lits {
  list-style: none;
  border: 1px solid $light-grey;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    min-width: 580px;
    min-height: 175px;

    margin-left: 70px;
    margin-right: 70px;
    margin-top: 70px;
    margin-bottom: 60px;

    padding-top: 21px;
    padding-left: 30px;
  }

  @media (min-width: $desktop-width) {
    box-sizing: border-box;
    flex-grow: 1;
    min-width: 570px;
    min-height: 200px;

    margin-top: 50px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 35px;
  }
}

.program__choose-result-item {
  margin-top: 10px;
  margin-bottom: 25px;
  position: relative;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }
}

.program__label--indent {
  margin-left: 46px;

  @media (min-width: $tablet-width) {
    margin-left: 55px;
  }

  @media (min-width: $desktop-width) {
    display: inline-block;
    vertical-align: middle;
    margin-top: 2px;
    margin-left: 55px;
  }
}

.program-label--contact-indent {
  @media (min-width: $tablet-width) {
    margin-right: 20px;
  }
}

.program__radio {
  &:disabled {
    ~ .program__label--indent {
      opacity: 0.3;
    }
  }

  ~ .program__label--indent {
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: -5px;
      width: 12px;
      height: 12px;
      padding: 7px;
      background-clip: content-box;
      border-radius: 50%;
      border: 1px solid #cdcdcd;

      @media (min-width: $tablet-width) {
        width: 20px;
        height: 20px;
      }

      @media (min-width: $desktop-width) {
        left: -3px;
        width: 24px;
        height: 24px;
      }
    }
  }

  &:checked {
    ~ .program__label--indent {
      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: -5px;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        border: 1px solid #cdcdcd;

        @media (min-width: $tablet-width) {
          width: 20px;
          height: 20px;
        }

        @media (min-width: $desktop-width) {
          left: -3px;
          width: 24px;
          height: 24px;
        }
      }

      &::after {
        content: "";
        position: absolute;
        left: 8px;
        top: 3px;
        width: 12px;
        height: 12px;
        background-color: $green;
        background-clip: content-box;
        border-radius: 50%;

        @media (min-width: $tablet-width) {
          left: 9px;
          top: 4px;
          width: 18px;
          height: 18px;
        }

        @media (min-width: $desktop-width) {
          left: 8px;
          top: 6px;
          width: 18px;
          height: 18px;
        }
      }

      &:hover::before {
        border: 1px solid #bababa;
      }
    }
  }
}

.program__form-title {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 24px;
  font-weight: 400;
  color: $dark-grey;
  background-color: $white;

  @media (min-width: $tablet-width) {
    margin-left: 30px;
    padding-left: 35px;
    padding-right: 35px;
    font-size: 36px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
  }
}

.program__form-title--contact {
  width: 195px;

  @media (min-width: $tablet-width) {
    width: 515px;
  }
}

.program__user-contact-list {
  list-style: none;
  margin-top: 30px;
  padding: 0;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    margin-top: 75px;
    padding-left: 50px;
    padding-right: 70px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 35px;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
  }
}

.program__user-contact-item {
  box-sizing: border-box;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  padding-left: 20px;

  @media (min-width: $tablet-width) {
    min-width: 650px;
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    justify-content: flex-start;
    min-width: 570px;
    padding-left: 0;
    margin-right: 80px;
    margin-bottom: 15px;

    &:last-child {
      margin-right: 0;
    }
  }
}


.program__input-text--email {
  position: relative;

  @media (min-width: $desktop-width) {
    width: 485px;
  }
}

.program__icon-email {
  position: absolute;
  right: 15px;
  width: 18px;
  height: 14px;
  fill: #222222;

  @media (min-width: $tablet-width) {
    right: 17px;
  }

  @media (min-width: $desktop-width) {
    right: 20px;
  }
}

.program__input-text--email:focus + .program__icon--email {
  fill: $green;
}

.program__input-text--phone {
  position: relative;

  @media (min-width: $desktop-width) {
    width: 485px;
    //margin-right: 55px;
  }
}

.program__icon-phone {
  position: absolute;
  right: 10px;
  width: 21px;
  height: 21px;
  fill: #222222;

  @media (min-width: $tablet-width) {
    right: 15px;
  }

  @media (min-width: $desktop-width) {
    right: 20px;
  }
}

.program__input-text--phone:focus + .program__icon--phone {
  fill: $green;
}

.program__comment-wrapper {
  padding: 0;
  padding-left: 20px;
  padding-right: 40px;

  @media (min-width: $tablet-width) {
    margin-top: 35px;
    margin-bottom: -10px;
    padding-left: 70px;
    padding-right: 87px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 50px;
    padding-left: 40px;
    padding-right: 60px;
  }
}

.program__comment {
  border: 1px solid #cdcdcd;
  resize: none;
  width: 100%;
  height: 140px;
  margin-top: 35px;
  padding-top: 10px;
  padding-left: 16px;
  color: $greyish;
  text-transform: uppercase;

  &::placeholder {
    color: $greyish;
  }

  @media (min-width: $tablet-width) {
    padding-top: 15px;
    height: 160px;

    &::placeholder {
      font-size: 20px;
    }
  }
}

.program__more-detail-list {
  list-style: none;
  margin-top: 35px;
  padding: 0;
  padding-top: 5px;
  padding-left: 20px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 580px;
    margin-top: 55px;
    padding-left: 70px;
    margin-bottom: 10px;
  }

  @media (min-width: $desktop-width) {
    justify-content: flex-start;
    box-sizing: border-box;
    width: 1280px;
    margin-top: 50px;
    margin-bottom: 25px;
    padding-left: 40px;
    padding-right: 0;
  }
}

.program__more-detail-item {
  position: relative;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    width: 234px;
    margin-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    align-items: center;
    width: 245px;
    margin-right: 80px;
    padding-top: 0;
    margin-top: 5px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.program__checkbox {
  &:disabled {
    ~ .program__label {
      opacity: 0.3;
    }
  }

  ~ .program__label {
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: -5px;
      width: 30px;
      height: 30px;
      border: 1px solid #cdcdcd;
    }
  }

  &:checked {
    ~ .program__label {
      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: -5px;
        width: 30px;
        height: 30px;
        border: 1px solid #cdcdcd;
        background-image: url("../img/icon-tick.svg");
        background-repeat: no-repeat;
        background-size: 22px 17px;
        background-position: center;
      }

      &:hover::before {
        border: 1px solid #bababa;
      }
    }
  }

  @media (min-width: $tablet-width) {
    ~ .program__label {
      &::before {
        width: 38px;
        height: 38px;
      }
    }

    &:checked {
      ~ .program__label {
        &::before {
          width: 38px;
          height: 38px;
        }
      }
    }
  }
}


.program__required {
  display: block;
  margin-top: 20px;

  @include content-font;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-left: 65px;
    margin-top: 0;
    font-size: 16px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 80px;
  }
}

.program__button {
  width: 100%;
  margin-top: 35px;
  border: 0;

  @media (min-width: $tablet-width) {
    width: 280px;
    margin-top: 5px;
    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
  }
}

.program__button-wrapper {
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    padding-left: 70px;
    padding-right: 70px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 40px;
    padding-right: 40px;
  }
}
