.program {
  @include main-font;
  padding-bottom: 36px;
}

.program--wrapper {
  margin-right: 20px;
  margin-left: 20px;
}

.program__title {
  font-size: 18px;
  font-weight: 400;
  color: $dark-grey;
}

.program__userdate-list {
  list-style: none;
  padding: 0;
}

.program__userdate-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 14px;
}

.program__label {
  padding: 0;
  margin-right: 15px;
  flex-shrink: 0;
  font-size: 16px;
  color: #222222;
  text-transform: uppercase;
}

.program__input-text {
  width: 100%;
  height: 45px;
  padding: 0;
  padding-left: 16px;
  color: $greyish;
  text-transform: uppercase;
  border: 1px solid #e6e6e6;

  &::placeholder {
    color: $greyish;
    text-transform: uppercase;
  }

  &:hover {
    border: 1px solid #cdcdcd;
  }

  &:active {
    border: 1px solid $greyish;
  }

  &:focus {
    border: 1px solid $greyish;
  }
}

.program__choose-result-lits {
  list-style: none;
  padding: 0;
  border: 1px solid $light-grey;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 21px;
  padding-bottom: 26px;
}

.program__choose-result-item {
  margin-bottom: 13px;
  position: relative;
}

.program__label--indent {
  margin-left: 46px;
}

.program__radio:checked ~ .program__label--indent {
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: -5px;
    width: 12px;
    height: 12px;
    background-color: $green;
    background-clip: content-box;
    border-radius: 50%;
    border: 1px solid #cdcdcd;
  }

  &:hover::before {
    border: 1px solid #bababa;
  }
}

.program__radio ~ .program__label--indent {
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: -5px;
    width: 12px;
    height: 12px;
    padding: 7px;
    background-clip: content-box;
    border-radius: 50%;
    border: 1px solid #cdcdcd;
  }
}

.program__radio:disabled ~ .program__label--indent {
  opacity: 0.3;
}

.program__form-title {
  display: flex;
  align-items: center;
  margin-top: 31px;
  margin-bottom: 31px;
  font-size: 24px;
  font-weight: 400;
  color: $dark-grey;

  &::after {
    content: "";
    width: 100%;
    margin-top: 5px;
    margin-left: 24px;
    height: 3px;
    background-color: $green;
  }
}

.program__user-contact-list {
  list-style: none;
  padding: 0;
}

.program__user-contact-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 14px;
}


.program__input-text--email {
  position: relative;
}

.program__icon--email {
  position: absolute;
  left: 96%;
  width: 18px;
  height: 14px;
  fill: #222222;
}

.program__input-text--email:focus + .program__icon--email {
  fill: $green;
}

.program__input-text--phone {
  position: relative;
}

.program__icon--phone {
  position: absolute;
  left: 96%;
  width: 21px;
  height: 21px;
  fill: #222222;
}

.program__input-text--phone:focus + .program__icon--phone {
  fill: $green;
}

.program__comment {
  border: 1px solid #cdcdcd;
  resize: none;
  width: 100%;
  min-height: 150px;
  padding-top: 15px;
  padding-left: 16px;
  color: $greyish;
  text-transform: uppercase;

  &::placeholder {
    color: $greyish;
  }
}

.program__more-detail-list {
  list-style: none;
  padding: 0;
}

.program__more-detail-item {
  position: relative;
  margin-bottom: 20px;
}

.program__checkbox:checked ~ .program__label {
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: -5px;
    width: 30px;
    height: 30px;
    border: 1px solid #cdcdcd;
    background-image: url("../img/icon-tick.svg");
    background-repeat: no-repeat;
    background-size: 22px 17px;
    background-position: center;
  }
}

.program__checkbox ~ .program__label {
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: -5px;
    width: 30px;
    height: 30px;
    border: 1px solid #cdcdcd;
  }
}

.program__checkbox:disabled ~ .program__label--indent {
  opacity: 0.3;
}

.program__required {
  display: block;
  margin-top: 23px;

  @include content-font;
  text-align: center;
}
