.single-button {
  font-size: 16px;
  font-weight: 400;
  width: 100%;
}

.single-button__wrapper {
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    padding-left: 70px;
    padding-right: 70px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 110px;
    padding-right: 110px;
  }
}
