.social__list {
  display: flex;
  align-items: center;

  @include list;
}

.social__link--vk-icon {
  margin-right: 40px;
  width: 22px;
  height: 12px;
  fill: #666666;

  &:hover {
    fill: $green;
  }

  &:active {
    fill: $green;
    opacity: 0.3;
  }
}

.social__link--insta-icon {
  margin-right: 40px;
  width: 17px;
  height: 17px;
  fill: #666666;

  &:hover {
    fill: $green;
  }

  &:active {
    fill: $green;
    opacity: 0.3;
  }
}

.social__link--fb-icon {
  margin-right: 40px;
  width: 10px;
  height: 19px;
  fill: #666666;

  &:hover {
    fill: $green;
  }

  &:active {
    fill: $green;
    opacity: 0.3;
  }
}
