.social {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 70px;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    border: 0;
    margin-right: 10px;
  }
}

.social__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-right: 10px;

  @include list;

  @media (min-width: $tablet-width) {
    margin-left: 40px;
    margin-right: 0;
    margin-bottom: 5px;
  }

  @media (min-width: $desktop-width) {
    justify-content: flex-start;
    margin-left: 25px;
    margin-bottom: 5px;
  }
}

.social__item {
  margin-right: 40px;

  &:last-child {
    margin-right: 0;
  }

  @media (min-width: $tablet-width) {
    margin-right: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 28px;
  }
}

.social__vk {
  width: 22px;
  height: 12px;
  fill: #666666;

  &:hover {
    fill: $green;
  }

  &:active {
    fill: $green;
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    width: 30px;
    height: 16px;
  }
}

.social__insta {
  width: 17px;
  height: 17px;
  fill: #666666;

  &:hover {
    fill: $green;
  }

  &:active {
    fill: $green;
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    width: 23px;
    height: 23px;
  }
}

.social__fb {
  width: 10px;
  height: 19px;
  fill: #666666;

  &:hover {
    fill: $green;
  }

  &:active {
    fill: $green;
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    width: 14px;
    height: 28px;
  }
}
