.main-title {
  color: #000000;
  font-size: 36px;
  font-weight: 400;
}

.main-title--white {
  color: #ffffff;
  font-size: 36px;
  font-weight: 400;
}


.button {
  background-color: $green;
  padding-top: 14px;
  padding-bottom: 11px;
  text-align: center;
  margin-top: auto;
  color: #ffffff;
  text-transform: uppercase;

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    background-color: #5eaa2f;
    color: rgba(255, 255, 255, 0.3);
  }
}

.button--grey {
  background-color: $grey;
  padding-top: 14px;
  padding-bottom: 11px;
  text-align: center;
  margin-top: auto;
  color: $greyish;
  text-transform: uppercase;

  &:hover {
    background-color: #ebebeb;
  }

  &:active {
    background-color: #ebebeb;
    color: rgba(68, 68, 68, 0.3);
  }
}
