.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-title {
  @include main-font;
  color: #000000;
  font-size: 36px;
  font-weight: 400;
}

.main-title--white {
  @include main-font;
  color: $white;
  font-size: 36px;
  font-weight: 400;
}


.button {
  display: block;
  width: 100%;
  text-decoration: none;
  text-align: center;
  background-color: $green;
  padding-top: 14px;
  padding-bottom: 11px;
  color: $white;
  text-transform: uppercase;

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    background-color: #5eaa2f;
    color: rgba(255, 255, 255, 0.3);
  }
}

.button--grey {
  background-color: $grey;
  padding-top: 14px;
  padding-bottom: 11px;
  text-align: center;
  color: $greyish;
  text-transform: uppercase;

  &:hover {
    background-color: $light-grey;
  }

  &:active {
    background-color: $light-grey;
    color: #d2d2d2;
  }
}

.single-button {
  font-size: 16px;
  font-weight: 400;
}
