@import "global/normalize.scss";
@import "global/font.scss";
@import "global/globalstyle.scss";
@import "blocks/page-header.scss";
@import "blocks/main-nav.scss";
@import "blocks/page-main.scss";
@import "global/colors.scss";

.main-title {
  color: #000000;
  font-size: 36px;
}

.main-title--white {
  color: #ffffff;
  font-size: 36px;
}

.button {
  background-color:
}

.promo {
  position: relative;
  min-height: 480px;
}

.promo__content {
  background-color: $green;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  min-height: 305px;
}

.promo__slogan {
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
}

.promo__img {
  position: absolute;
  top: 167px;
}

.promo__programm-choose {
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
}
